@import "tailwindcss";


* {
  box-sizing: border-box;
}

                                              /* text zone */

 /* heading */

.h1mainTx{
/* font-size: 52.3823px;  */
font-size: 5rem; 
font-family: century-old-style-std, serif; 
font-weight: 400; 
/* text-align: center;  */
line-height: 1.3; 
color: #FFFFFF; 
}

.h2Txbig{
    font-size: 50.1953px; 
font-family: century-old-style-std, serif; 
font-weight: 400; 
/* text-align: center;  */
line-height: 1.3; 
color: #FFFFFF; 
}

.H2Tx_w {
    font-size: 36.5633px; 
font-family: owners, sans-serif; 
font-weight: 400; 
line-height: 1.3; 
color: #FFFFFF; 
letter-spacing: 0.7px;
}

.h2Txb{
    font-size: 35.2367px; 
font-family: owners, sans-serif; 
font-weight: 400; 
text-align: center; 
line-height: 1.3; 
color: #F2EDE9; 
letter-spacing: 0.7px;
}

.H3Tx_c {
ont-size: 31.6751px; 
font-family: owners, sans-serif; 
font-weight: 400; 
line-height: 1.4; 
color: #503629; 
letter-spacing: 0.475127px; 

}


.H4Tx_w{
ont-size: 24.3573px; 
font-family: owners, sans-serif; 
font-weight: 400; 
text-align: center; 
line-height: 1.4; 
color: #FFFFFF; 
letter-spacing: 0.365359px; 

}

.h5Tx_c {
   /* font-size: 15px;  */
   font-size: .8rem;
font-family: owners, sans-serif; 
font-weight: 400; 
text-align: center; 
color: #503629; 
letter-spacing: 0.7px;  
}

                                  /* para text */
.memuTx {
    font-size: 16px; 
font-family: owners, sans-serif; 
font-weight: 400; 
color: #503629; 
letter-spacing: 0.7px; 
}



.PTxbig_c{
    font-size: 36.5633px; 
font-family: owners, sans-serif; 
font-weight: 400; 
text-align: center; 
line-height: 1.3; 
color: #503629; 
letter-spacing: 0.7px; 
}

.PTxmid_w {
font-size:  24px; 
font-family: owners, sans-serif; 
font-weight: 400; 
text-align: center; 
line-height: 1.4; 
color: #FFFFFF;  
letter-spacing: 0.7px; 
}
.PTxmid_c {
font-size:  24px; 
font-family: owners, sans-serif; 
font-weight: 400; 
text-align: center; 
line-height: 1.4; 
color: #503629; 
letter-spacing: 0.7px; 
}

.PTxsm_c{
    font-size: 16px; 
font-family: owners, sans-serif; 
font-weight: 400; 
text-align: center; 
line-height: 1.5; 
color: #503629; 
letter-spacing: 0.7px;
}
.PTxsm_w1{
 font-size: 16px; 
font-family: owners, sans-serif; 
font-weight: 700; 
text-align: center; 
line-height: 1.5; 
color: #f2ede9; 
letter-spacing: 0.7px;
}

.PTxsm_w {
    font-size: 16px; 
font-family: owners, sans-serif; 
font-weight: 400; 
text-align: center; 
line-height: 1.5; 
color: #FFFFFF; 
letter-spacing: 0.7px;
}

.PTxsm2_c {

    font-size: 12px; 
font-family: owners, sans-serif; 
font-weight: 400; 
line-height: 1.5; 
color: #503629; 
letter-spacing: 0.7px;
}

/* strong text */
.strongTx_c{
    font-size: 16px; 
font-family: owners, sans-serif; 
font-weight: 700; 
text-align: center; 
line-height: 1.5; 
color: #503629; 
letter-spacing: 0.7px;
}

.strongTx_w{

    font-size: 16px;  
font-family: owners, sans-serif;  
font-weight: 700;  
/* text-align: center;   */
line-height: 1.5;  
color: #F2EDE9;  
letter-spacing: 0.7px;  
}

/* a tag or button  */

.BtnTx_c{
font-size: 15px; 
font-family: owners, sans-serif; 
font-weight: 400; 
/* text-align: center;  */
color: #503629; 
letter-spacing: 0.7px; 
    
}

.BtnTx_w{
font-size: 14px; 
font-family: owners, sans-serif; 
font-weight: 400; 
/* text-align: center;  */
color: #FFFFFF; 
letter-spacing: 0.7px;

}

.BtnTx_b{
font-size: 14px; 
font-family: owners, sans-serif; 
font-weight: 400; 
/* text-align: center;  */
color: #080912; 
letter-spacing: 0.7px;

}

.BtnTx_WH{
ont-size: 14px; 
font-family:Helvetica; 
font-weight: 400; 
/* text-align: center;  */
color: #FFFFFF; 
letter-spacing: 0.7px; 
line-height: 15px; 


}
/* backdround img */
/* 
.bnr_l{
background-image:url(./assets/bannerL.jpg);
}

.bnr_r{
background-image:url(./assets/bannerR.jpg);
} */
       
             /* border-radius */

.btnRus{
    
}

.btnRus{

}

.btnRus{

}

                 /* display zone */

.F_al_c{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}                 

.F_jb_c{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
} 

.F_je_c{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}


.f_col{
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


